
/*.windows{
	width: 720px;
	height: 350px;
	border: 1px solid black;
	position: absolute;
	}*/
.windows img{
	width: 720px;
	height:350px;
	position: absolute;
	left: 0px;
}
/*.windows2{
	width: 720px;
	height: 350px;
	border: 1px solid black;
	position: absolute;
	}*/
.windows1 img{
	width: 720px;
	height:350px;
	position: absolute;
	left: 100px;
}
.windows2 img{
	width: 720px;
	height:350px;
	position: absolute;
	left: 200px;
}
/*.windows3{
	width: 720px;
	height: 350px;
	border: 1px solid black;
}*/
.windows3 img{
	width: 720px;
	height:350px;
	position: absolute;
	left: 300px;
}
